    <div class="five columns centered">
        {#        <h3>Enter Zipcode:</h3>#}
        <div class="row collapse">
            <div class="eight columns">
                <input id="zipcode_box" type="text" placeholder="Enter Zipcode"  />
                <small id="zipcode_error" class="hidden error">Probably not a US zipcode</small>
            </div>

            <div class="four columns">
                <a href="#" id = "list_theatres_button" class="postfix regular button expand">List Theatres</a>
            </div>
        </div>

    </div>
